.todo-list-container {
  margin-top: 20px;
}
button .glyphicon-remove {
  color: red;
}
.input-group-btn {
  font-size: 14px;
}
.badge {
  background: none;
}
input[type="checkbox"] {
  margin: 5px;
}
span.checked {
  text-decoration: line-through;
}
